{% extends 'base.html' %} 

{% load static %}
{% load bootstrap %}

{% block title %}Curso{% endblock %}

{% block content %} 
    
    {% if form.errors %}
        <div class="mensage">
            {{ forms.errors }}
        </div>
    {% endif %}

    {% if is_valid %}
        <div class="info-div">
            <div class="mensagem">
                <img src="../../static/img/sucess_message.png" alt="" width="50px">
                <h3>Edição realizada.</h3>
            </div>
        </div>
    
        <div class="margin-auto"> <a class="btn btn-sm btn-primary" href="{% url 'curso:dashboard' %}">Retornar para dashboard</a></div>

    {% endif %}

    {% if is_not_edited == True %}
    <div class="form-title box">
        <h3>Edição de curso</h3>
    </div>
    
    <form action="{% url 'curso:editar' id %}" method="post">
            {% csrf_token %}

            {{ form|bootstrap }} <span></span> 
        <div class="button-div">
            <button type="submit" class="button-input" > Editar</button>
        </div>
    </form>
    {% endif %}
{% endblock %}