{% extends 'base.html' %} 

{% load static %}
{% load bootstrap %}

{% block title %}Avaliação{% endblock %}

{% block content %} 
    
    {% if form.errors %}
        <div class="mensage">
            {{ forms.errors }}
        </div>
    {% endif %}

    {% if is_valid == True %}
        <div class="info-div">
            <div class="mensagem">
                <img src="../../static/img/sucess_message.png" alt="" width="50px">
                <h3>Lançamento realizado.</h3>
            </div>
        </div>
    
    <div class="margin-auto"> <a class="btn btn-sm btn-primary" href="{% url 'turma:dashboardAvaliacao' %}">Retornar para dashboard</a></div>
    
    {% endif %}  
        
    {% if is_valid == False %}
        <div class="info-div">
            <div class="mensagem-red">
                <img src="../../static/img/error_message.png" alt="" width="50px">
            <h3>O aluno não está alocado na turma selecionada </h3>
        </div>
    </div>

    <div class="margin-auto"> <a class="btn btn-sm btn-primary" href="{% url 'turma:dashboardAvaliacao' %}">Retornar para dashboard</a></div>
    {% endif %}
            
    
    {% if is_not_cadastred == True %}
    <div class="form-title box">
        <h3>Lançamento da Avaliação</h3>
    </div>
    
    <form action="{% url 'turma:lancarAvaliacao' %}" method="post">
            {% csrf_token %}

            {{ form|bootstrap }} <span></span> 
        <div class="button-div">
            <button type="submit" class="button-input" > Lançar</button>
        </div>
    </form>
    {% endif %}
{% endblock %}