{% extends 'base.html' %} 

{% load static %}
{% load bootstrap %}

{% block title %}Professor{% endblock %}

{% block content %} 

{%if is_valid == False %}
<div class="info-div">
    <div class="mensagem">
        <img src="../../static/img/sucess_message.png" alt="" width="50px">
        <h3>Professor deletado.</h3>
    </div>
</div>

{%endif%}

{% if is_valid == True %}
<div class="info-div">
    <div class="mensagem-red">
        <img src="../../static/img/error_message.png" alt="" width="50px">
        <h3>O professor está alocado em uma turma</h3>
    </div>
</div>
{% endif %}

<div class="margin-auto"> <a class="btn btn-sm btn-primary" href="{% url 'professor:dashboard' %}">Retornar para dashboard</a></div>

{% endblock %}